.App {
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 422px;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}