#page_calculadora,
#page_cambio_informal,
#page_oculos_reparo {
  margin: 4vh;
  height: 75vh;
  width: 100%;
  overflow: overlay;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#link_tasa_informal {
  border-radius: 20px 0px 0px 20px;
}

#link_tasa_OR {
  border-radius: 0px 20px 20px 0px;
}