.Categorias {
  height: 288px;
  margin: 20px 0px;
  background-color: rgb(80, 54, 54);
}

.Categorias>h3 {
  padding: 12px;
}

.Categorias>ul {
  list-style-type: none;
  display: flex;
  height: 85%;
  width: 98vw;
  flex-direction: column;
  overflow: overlay;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}