.Main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(4, 40, 45);
  flex-wrap: nowrap;
}

.Main>section>div {
  height: 100%;
  width: 100%;
}

.barraNavegacion {
  display: flex;
  justify-content: center;
  width: 110vw;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.barraNavegacion>li {
  padding: 2vh;
  background-color: rgb(0, 78, 88);
}

.barraNavegacion>li:hover {
  background-color: rgb(5, 48, 54);
}

.Card {
  width: 96vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin: 1vh;
  background-color: rgb(4, 70, 70);
  padding: 2vh;
  border: 1px solid #0c0b20;
  border-radius: 18px;
  transition: 0.5s ease;
  align-items: center;
}

.Card:hover {
  background-color: rgb(4, 44, 44);
  border: 1px solid black;
}

.Card>section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Card>section>p {
  margin-left: 15px;
}

.Card>section>img {
  border-radius: 100%;
}

.Card>aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2vw;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.Card>aside>p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 2vh;
  width: 100%;
  background-color: rgb(0, 78, 88);
}

.Article {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: 92vw;
  background-color: rgb(0, 78, 88);
  margin: 2vh;
  padding: 2vh 1vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Article>label {
  margin-left: 3px;
  padding: 3px;
  font-family: cursive;
  font-size: 1.5rem;
}

.Article>input {
  background: none;
  width: 88%;
  border: 2px dotted black;
  margin-left: 0.5vw;
  padding: 5px;
}