.Main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 40, 45);
}

.Main>section {
  margin: 4vh;
  height: 75vh;
}

.barraNavegacion {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 2vh;
  width: 56vw;
  background-color: rgb(0, 78, 88);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.barraNavegacion>button {
  padding: 7px;
  border-radius: 13px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

.barraNavegacion>button:hover {
  background-color: rgb(5, 48, 54);
}

.Card {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
  background-color: #281e62;
  padding: 2vh;
  border: 1px solid #0c0b20;
  border-radius: 18px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.Card:hover {
  background-color: rgb(4, 70, 70);
  border: 1px solid black;
}

.Card>section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Card>section>p {
  margin-left: 15px;
}

.Card>section>img {
  border-radius: 100%;
}

.Card>aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2vw;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.Card>aside>p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 2vh;
  width: 56vw;
  background-color: rgb(0, 78, 88);
}

.Article {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: 40vw;
  background-color: rgb(0, 78, 88);
  margin-top: 2vh;
  padding: 2vh 1vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Article>input {
  background: none;
  width: 10vh;
}