.Main {
  height: 97vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(4, 40, 45);
  flex-wrap: nowrap;
}

.Main>section>div {
  height: 100%;
  width: 100%;
}

.barraNavegacion {
  display: flex;
  justify-content: center;
  width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.barraNavegacion>li {
  padding: 2vh;
  background-color: rgb(0 0 0);
  border-top: 2px solid #ffbf00;
  border-bottom: 2px solid #ffbf00;
}

.barraNavegacion>li:hover {
  background-color: rgb(54, 53, 53);
}

.Card {
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin: 1vh;
  background-color: rgb(0 0 0);
  border-top: 2px solid #ffbf00;
  border-bottom: 2px solid #ffbf00;
  padding: 10px;
  border-radius: 18px;
  transition: 0.5s ease;
  align-items: center;
}

.Card:hover {
  background-color: rgb(54, 53, 53);
}

.Card>img {
  height: 60px;
  width: 40px;
}

.Card>section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 38%;
  justify-content: center;
}

.Card>section>p {
  margin-left: 15px;
}

.Card>aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.Card>aside>p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  border: 2px dotted #ffbf00;
  border-radius: 20px;
  padding: 10px;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0 0 0);
  border-top: 2px solid #ffbf00;
  border-bottom: 2px solid #ffbf00;
  border-radius: 10px;
  padding: 2vh;
  width: 100%;
  color: white;
}

.Article {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: 92vw;
  background-color: var(---colorBg);
  margin: 2vh;
  padding: 2vh 1vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Article>label {
  margin-left: 3px;
  padding: 3px;
  font-family: cursive;
  font-size: 1.5rem;
}

.Article>input {
  background: none;
  width: 88%;
  border: 2px dotted black;
  margin-left: 0.5vw;
  padding: 5px;
}

.moneda,
.monedaOR {
  font-size: 1.5rem;
  font-family: auto;
  text-decoration: overline;
  color: wheat;
}

.monedaOR {
  color: #ffbf00;
}

.contenedor_cards_calculadora {
  position: absolute;
  z-index: 10;
  bottom: 22vh;
  background-color: #f5f5f5b8;
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contenedor_cards_calculadora>button {
  color: black;
  border: 2px solid black;
  border-radius: 21%;
  padding: 2px;
  margin-right: 20px;
  background: red;
}

.contenedor_calculadora {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.contenedor_imprimir {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contenedor_imprimir>aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.contenedor_imprimir>aside>img {
  width: 100px;
  height: 100px;
}


.contenedor_imprimir>div {
  margin: 5px;
}

.contenedor_imprimir>img {
  width: 100px;
  height: 100px;
}

.contenedor_imprimir>div>input {
  padding: 5px;
  font-size: 18px;
}

.contenedor_producto {
  border-top: 3px dotted black;
  border-bottom: 3px dotted black;
  display: grid;
  grid-template-columns: 200px 80px 58px 48px;
  grid-template-rows: 35px 40px auto;
  margin: 10px 0px;
}
